.topRow{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    width : 93vw;
    background-color: rgb(97, 96, 96);
    padding: 24px;
    border-radius: 10px;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 335px;
    height: 161px;
    padding: 10px;
    margin-left: 20px;
    background-color: rgb(134, 132, 132);
    color: white;
    border-radius: 10px;
    font-weight: 600;
}
.card2{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 335px;
  height: 190px;
  margin-left: 20px;
}
.modalContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(112, 111, 111);
    border-radius: 1rem;
    padding: 10px;
    max-width: 400px;
  }

  .modal{
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    background-color: transparent;
  }